# <IfModule mod_rewrite.c>
#     RewriteEngine On

#     # Redirigir todo a HTTPS
#     # RewriteCond %{HTTPS} !=on
#     # RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

#     # Configuración de Laravel (no tocar)
#     RewriteCond %{REQUEST_FILENAME} !-d
#     RewriteCond %{REQUEST_FILENAME} !-f
#     RewriteRule ^ index.php [L]

#     RewriteCond %{REQUEST_URI} !^/public
#     RewriteRule ^(.*)$ /public/$1 [L,R=301]
# </IfModule>
<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirigir todo el tráfico HTTPS a HTTP
    # RewriteCond %{HTTPS} on
    # RewriteRule ^ http://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Configuración de Laravel (no tocar)
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    RewriteCond %{REQUEST_URI} !^/public
    RewriteRule ^(.*)$ /public/$1 [L,R=301]
</IfModule>

